
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 3s ease-in-out;
    background-color: rgb(241, 241, 241);
}